<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181957126871-fgp5svfor2jt637q4iejjnbn4vipi0hi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181957126871-fgp5svfor2jt637q4iejjnbn4vipi0hi</string>
	<key>API_KEY</key>
	<string>AIzaSyDaZCEGOTNSnSz3gvnURxKiOIvHSDGA7rE</string>
	<key>GCM_SENDER_ID</key>
	<string>181957126871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gotasker.app</string>
	<key>PROJECT_ID</key>
	<string>gotasker-bd781</string>
	<key>STORAGE_BUCKET</key>
	<string>gotasker-bd781.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181957126871:ios:4d2f3766b35e9158d3de92</string>
</dict>
</plist>